<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/new-task']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Listado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="items" class="list-mini-content" padding>
  <div *ngIf="items.length > 0" class="list-mini">
    <ion-list>
      <ion-item *ngFor="let item of items" [routerLink]="['/details', item.payload.doc.id]">
        
        <ion-label>{{item.payload.doc.data().title}}</ion-label>
        <ion-button fill="clear" slot="end" ><ion-icon name="construct" size="large"></ion-icon>  </ion-button>
        
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="items.length == 0" class="empty-list">
    Ingrese informacion
  </div>
</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="tertiary">
    <ion-title>Salir</ion-title>
  </ion-toolbar>
</ion-footer>
