<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home">Volver</ion-back-button>
    </ion-buttons>
    <ion-title>Agregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
   
  </div>
  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-item>
      <ion-label position="floating" color="primary">Producto</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Descripcion</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>
    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Agregar
      
    </ion-button>
  </form>
</ion-content>
